/*INTEGRATION DES FONTS*/
@font-face {
  font-family: "Reservation";
  src: url("../fonts/Reservation/ReservationWide-Bold.woff2") format("woff2"), url("../fonts/Reservation/ReservationWide-Bold.woff") format("woff"), url("../fonts/Reservation/ReservationWide-Bold.ttf") format("ttf"), url("../fonts/Reservation/ReservationWide-Bold.eot") format("eot");
}
@font-face {
  font-family: "Rocgrotesk";
  src: url("../fonts/Rocgrotesk/rocgrotesk-regular-webfont.woff2") format("woff2"), url("../fonts/Rocgrotesk/rocgrotesk-regular-webfont.woff") format("woff"), url("../fonts/Rocgrotesk/rocgrotesk-regular-webfont.ttf") format("ttf"), url("../fonts/Rocgrotesk/rocgrotesk-regular-webfont.eot") format("eot");
}
/*INTEGRATION DES FONTS*/
/*STYLES GENERAUX */
a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

main #laSelection h1, #hero > h1 {
  font-family: Reservation, sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  line-height: 150%;
  margin-bottom: 40px;
}

footer section div .h2Footer, main #Infos ul, nav > #menu > a > li {
  font-family: Reservation, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

#hero button, nav > #icons > a > li > #nbItems, nav > #icons > #Langues > select, #promo > h2 {
  font-family: Rocgrotesk, sans-serif;
  font-size: 16px !important;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#promo {
  display: flex;
  align-items: center;
  justify-content: center;
}

main #laSelection ul, main #laSelection h1, nav {
  margin-right: 50px;
  margin-left: 50px;
}

footer section, main #Infos ul {
  margin-right: 100px;
  margin-left: 100px;
}

nav > #icons, nav > #menu, body {
  margin: 0;
}

nav > #icons, nav > #menu {
  padding: 0;
}

nav > #icons, nav > #menu, li {
  list-style: none;
}

/* STYLES GENERAUX */
/*COULEURS DU THEME */
/*COULEURS DU THEME */
/* PARAMETRAGE DE BASE */
/* HEADER */
header {
  background-image: url(../img/homeImg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* PROMO */
#promo {
  width: 100%;
  height: 46px;
  background-color: #172A40;
  color: #F7F7F7;
}
#promo > h2 {
  margin: 0;
}

/* PROMO */
/* MENU */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
nav > img {
  margin-right: 70px;
}
nav > #menu {
  display: flex;
}
nav > #menu > a > li {
  color: #172A40;
}
nav > #menu :nth-child(2) {
  margin: 0 51px;
}
nav > #icons {
  display: flex;
  align-items: center;
}
nav > #icons > #Langues {
  margin-right: 42px;
}
nav > #icons > #Langues > select {
  border: none;
  background-color: transparent;
}
nav > #icons > a {
  margin-right: 17px;
}
nav > #icons > a > li > #nbItems {
  letter-spacing: 0;
  position: relative;
  bottom: 3px;
  left: 7px;
}

/* MENU */
/* HERO */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 27%;
}
#hero > h1 {
  text-align: center;
}
#hero button {
  width: 172px;
  height: 47px;
  letter-spacing: 0;
  border: none;
  border-radius: none;
}

/* HERO */
/* HEADER */
/* MAIN */
/* LA SELECTION */
main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
}
main #laSelection h1 {
  font-size: 25px;
  color: black;
  text-align: center;
  margin-top: 40px;
}
main #laSelection ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 124px;
}
main #Infos {
  height: 77px;
  background-color: #F7F7F7;
  display: grid;
  align-items: center;
}
main #Infos ul {
  letter-spacing: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* LA SELECTION */
/* MAIN */
/* FOOTER */
footer {
  background: #172A40;
  padding-top: 78px;
}
footer section {
  display: flex;
  justify-content: space-between;
}
footer section div .h2Footer {
  color: white;
}
footer section div form {
  display: flex;
  flex-direction: column;
}

/* FOOTER */

/*# sourceMappingURL=style.css.map */
